html{
    font-family: "Times New Roman";
    text-align: center;
    font-style: italic;
    background-color: lightpink;
}
#baner{
    background-color: lightpink;
    height: 80px;
    padding: 10px;
}
#pale{
    width: 20%;
    font-size: 20px;
    background-color: lightpink;
    height: 500px;
    float: left;
}
#papr{
    width: 80%;
    font-size: 30px;
    background-color: black;
    height: 500px;
    color: lightpink;
    float: left;
}
#stopka{
    background-color: lightpink;
    height: 60px;
    clear: both;
}
#leo{
    width: 180px;
    height: 180px;
}
p{
    padding-top: 50px;
}